<?xml version="1.0"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >
   <!--<parameter name="browser" value="FireFox"/>-->
 
  <!--<test name="FireFoxTest">
       
    <classes>
    
  <class name="com.hotelogix.smoke.FrontdeskTest.FrontdeskTest"/>
         
   </classes>
   </test>-->  
   
   
   
   
   
   
    <listeners>
         <listener class-name="com.hotelogix.smoke.FrontdeskTest.Ireporter" />
         <listener class-name="com.hotelogix.smoke.FrontdeskTest.AnnotationTransformer"/>
    </listeners> 
 
  <test name="Test">
    <classes>
      <class name="com.hotelogix.smoke.FrontdeskTest.FrontdeskTest"/>
  
       </classes>
  </test>  <!--Test -->
         
         </suite> 
         
         
         
         
  <!--   <test name="FirefoxTest">
   <parameter name="browser" value="Firefox"/>
   <classes>
       <class name="com.hotelogix.smoke.AdminTest.AdminTest"/> 
      <class name="com.hotelogix.smoke.FrontdeskTest.FrontdeskTest"/>   
         
    </classes>    
    </test>    -->
         
<!-- Suite -->
